[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    os.remove
    except ImportError
    # Don't complain if tests don't hit defensive assertion code:
    raise ImportError
    raise NotImplementedError

    # Don't complain if legacy support codes are not performed:
    if original_keras_version == '1':

show_missing = True
omit =
    keras_contrib/backend/theano_backend.py
    keras_contrib/backend/tensorflow_backend.py
    keras_contrib/backend/cntk_backend.py
