# examples


# activations
keras_contrib/activations/squash.py @SriRangaTarun

# applications


# backend


# callbacks
keras_contrib/callbacks/tensorboard.py @gabrieldemarmiesse

# constraints


# datasets


# initializers


# layers
keras_contrib/layers/advanced_activations/sinerelu.py @wilderrodrigues
keras_contrib/layers/advanced_activations/swish.py @gabrieldemarmiesse
keras_contrib/layers/capsule.py @SriRangaTarun

# losses


# metrics


# optimizers
keras_contrib/optimizers/yogi.py @MarcoAndreaBuchmann
keras_contrib/optimizers/padam.py @MFreidank

# preprocessing


# regularizers


# utils


# wrappers
